<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<!-- ###QUICK_SEARCH_INPUT### begin -->

<form action="###FORM.ACTION###" method="post" >

	<input type="text" name="###INPUT_FIELD.NAME###" id="###INPUT_FIELD.ID###" value="" />
	<input type="submit" value="###LLL:search_formSubmitSearch###" />

</form>

<!-- ###QUICK_SEARCH_INPUT### end -->

</body>
</html>