<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template for the privacy application</title>
</head>
<body>

<!-- ###CREATE_GROUP### begin -->
<style>
</style>
<script>
</script>
<h2>###LLL:creategroup_createGroup###</h2>
<div id="tx-community-creategroup">
	<form action="###FORM.ACTION###" class="ajaxForm" method="post" enctype="multipart/form-data">
		<dl>
			<dt>###LLL:creategroup_name###</dt>
			<dd><input type="text" name="tx_community[groupName]" value="" /></dd>
		</dl>
		<dl>
			<dt>###LLL:creategroup_description###</dt>
			<dd><textarea name="tx_community[groupDescription]"></textarea></dd>
		</dl>
		<dl>
			<dt>###LLL:creategroup_type###</dt>
			<dd>
				<input type="radio" name="tx_community[groupType]" value="0" checked="checked" />
				###LLL:creategroup_type_open###<br />
				<input type="radio" name="tx_community[groupType]" value="1" />
				###LLL:creategroup_type_membersOnly###<br />
				<input type="radio" name="tx_community[groupType]" value="2" />
				###LLL:creategroup_type_private###<br />
				<input type="radio" name="tx_community[groupType]" value="3" />
				###LLL:creategroup_type_secret###
			</dd>
		</dl>

		<input type="hidden" name="tx_community[createGroupAction]" value="createGroup" />

		<input type="submit" value="###LLL:creategroup_formSave###" />
	</form>
</div>
<!-- ###CREATE_GROUP### end -->

<!-- ###CREATE_GROUP_ERROR### begin -->
<style>
</style>
<script>
</script>
<h2>###LLL:creategroup_createGroup###</h2>
<div id="tx-community-creategroup">
	<p>###MSG.MESSAGE###</p>
</div>
<!-- ###CREATE_GROUP_ERROR### end -->

</body>
</html>