<f:layout name="default"/>

<f:section name="main">

	<h3><f:translate key="group.show.title" arguments="{name : group.name}"/>
	<f:link.action action="requestMembership" controller="Group" arguments="{group : group}"><f:translate key="group.show.request"/></f:link.action></h3>

	<dl>
		<dt>
			<f:translate key="group.show.name"/>
		</dt>
		<dd>
			{group.name}
		</dd>
		<dt>
			<f:translate key="group.show.description"/>
		</dt>
		<dd>
			{group.description}
		</dd>
		<dt>
			<f:translate key="group.show.creator"/>
		</dt>
		<dd>
			{group.creator.username}
		</dd>
		<dt>
			<f:translate key="group.show.members"/>
		</dt>
		<dd>
			<f:render partial="User/ListUser" arguments="{users : group.admins, settings : settings}"/>
			<f:render partial="User/ListUser" arguments="{users : group.members, settings : settings}"/>
		</dd>
	</dl>
</f:section>