<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<!-- ###FRIENDS_BIRTHDAY_LIST### begin -->

<ul>
	<!-- ###LOOP:FRIENDS### begin -->
	<!-- ###LOOP_CONTENT### -->
	<li>
		###USER.COMBINED_NAME### ###DATE:###USER.BIRTHDAY######
	</li>
	<!-- ###LOOP_CONTENT### -->
	<!-- ###LOOP:FRIENDS### end -->
</ul>

<!-- ###FRIENDS_BIRTHDAY_LIST### end -->

</body>
</html>